
.contact-preview{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 250px;
    border: #d32f2f 1px solid;
    border-radius: 14px;
    margin: 10px 11px 12px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #e0e0e0;
    }


.contact-preview-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 235px;
    
    .contact-preview-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .contact-preview-data{
        justify-self: flex-start;
        flex-grow: 1;
    }

//     .actions{
//         position: relative;
//         gap: 8px;


//         .actions::before {
//             content: attr(data-label);
//             position: absolute;
//             top: -1.5em;
//             left: 0.5em;
//             font-size: 0.75em;
//             color: #888;
//             transition: all 0.2s ease-out;
//           }
          
//           .actions:focus-within::before,
//           .actions:not(:placeholder-shown)::before {
//             top: -2.5em;
//             font-size: 0.6em;
//             color: #333;
//           }



//         .remove-btn{
//             background-color: #f44336;
//             color: white;
//             border: none;
//             border-radius: 50%;
//             width: 20px;
//             height: 20px;
//             cursor: pointer;
//             transition: all 0.3s ease-in-out;
//             &:hover {
//                 background-color: #d32f2f;
//             }
//         }
//     }
    
.actions {
    position: relative;
    gap: 8px;
  
    .remove-btn {
      position: relative;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &::before {
        content: attr(data-label);
        position: absolute;
        top: -1.5em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.75em;
        color: #888;
        transition: all 0.2s ease-out;
        opacity: 0;
        pointer-events: none;
      }
  
      &:hover::before {
        // top: -2.5em;
        left: -1.5em;
        top: 0.3rem;
        font-size: 0.6em;
        color: #333;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }





}


}

